.box{
    border-radius: 5px;
    border-color: black;
    border-style: solid ;
    padding :10px 10px;
    width: 50%;
}

    
.cross{
    right: 0;
    
}
.card{
    text-align: center;
}

.deleted{
    background-color: salmon;
}