
<ng-container *ngFor="let user of users;" >
<app-user-card   *ngIf="user.isDeleted == false"  (toggleRequest)="toggleUser($event)"  [user] = "user" >  
    <br>  
</app-user-card>

<app-user-card   *ngIf="user.isDeleted == true" (toggleRequest)="toggleUser($event)"  [user] = "user">
    <br>  </app-user-card>

</ng-container>
<hr>
<br>
<br>
<hr>
<!-- <ng-container *ngFor="let user of users;">
<app-user-card   *ngIf="user.isDeleted == true"   (toggleRequest)="toggleUser($event)"  [user] = "user" >   
 </app-user-card>
 
 </ng-container>  
 -->
